---
import '../styles/global.css';
const { title } = Astro.props;
---
<!doctype html>
<html lang="ko" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="antialiased selection:bg-white selection:text-black">
		<slot />

		<script>
			import Lenis from 'lenis';
			
			// 페이지 로드 후 Lenis 초기화
			const lenis = new Lenis({
				duration: 1.5,
				easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
				smoothWheel: true,
			});

			function raf(time: number) {
				lenis.raf(time);
				requestAnimationFrame(raf);
			}

			requestAnimationFrame(raf);
		</script>
	</body>
</html>
